{% extends "layouts/layout.html" %}

{% block title %}About Team{% endblock %}

{% block content %}

<div class="container"><div class="col-md-15 px-0">
    <h2>About Us</h2>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='img/IMG_1099.jpg') }}" class="img-fluid"/>
        </div>
        <div class="col-sm-4">
            <h4><u>Team Members</u></h4>
            <ul>
                <li>Phil Boarding - Computational Scientist</li>
                <li>Victoria Van - Computer Graphics</li>
                <li>Nick Weiner - Pythonist Bioinformation</li>
                <li>Michael Porter - Website Coder</li>
            </ul>
            <h5><u>Special Thank You To:</u></h5>
            <ul>
                <li>Dan Dorset</li>
                <li>Mark</li>
                <li>Mada</li>
            </ul>
        </div>
    </div>
    <div class="mt-4 d-block">
        <h3>Links</h3>
        <ul>
            <li><a href="https://github.com/mporter9/DIG_genome_bed/tree/master/Tech%20Challenge/py" target="_blank">Nick's Python Solution</a></li>
            <li><a href="https://github.com/mporter9/DIG_genome_bed/tree/master/Tech%20Challenge/hacode" target="_blank">Phil's Fortran Solution</a></li>
            <li><a href="https://github.com/mporter9/DIG_genome_bed/tree/master/src" target="_blank">Website Source</a></li>
        </ul>
    </div>
</div>

{% endblock %}