{% extends "layouts/layout.html" %}


{% block title %}Home{% endblock %}

{% block head %}

{{ super() }}

{# <script src="https://code.highcharts.com/highcharts.js"></script> #}

{% endblock %}


{% block content %}

<div class="container">
    <h1>DIG Overlap Finder</h1>
    <p>A user interface for plotting genomic display capability, and a highly efficient genomic matching program that
        can manage multiple input sequence comparisons</p>
    <div class="row">
        <div class="col-sm-10"></div>
            <img src="{{ url_for('static', filename='img/chrM.png') }}" class="img-fluid"/>
        </div>
            <h3>Inspiration</h3>
            <p>We were inspired by our strengths and ambitions to produce the best project we could in this
                challenge. Friday night seminar by Bryan and Mark discussed the challenges of using large
                .bed data representations of genomic sequences. They had three challenges, one for comparing two
                sequences, one for adding or subtracting overlaps to understand the sensitivity to the sequence
                positions. The last challenge was to use multiple genomic experiments to understand the statistical
                variability of the processes. This requires multiple input files and sampling of the overlap regions
                the (n,k) problem. The computational effort for multiple genomic experiments was presented as
                challenge, perhaps taking hours to run this matching problem.</p>
    </div>
    <img src="{{ url_for('static', filename='img/chr1.png') }}" class="img-fluid"/>
</div>

{% endblock %}